<div>
    <h2>Welcome!</h2>
    <p> Use the buttons below to manage professor and student users as well as their courses in the system </p>

    <br>

    <h5 style="margin-bottom: 10px;" class="card-title"> User Management & Course Management</h5>

    <div style="display: flex; gap: 10px;">
        <a asp-controller="Secretary" asp-action="UsersList" class="btn btn-outline-primary">Users List</a>
        <a asp-controller="Secretary" asp-action="AddProfessor" class="btn btn-outline-primary">Add Professor</a>
        <a asp-controller="Secretary" asp-action="AddStudent" class="btn btn-outline-primary">Add Student</a>
    </div>

    <br>

    <h5 style="margin-bottom: 10px;" class="card-text"> Course Management </h5>

    <div style="display: flex; gap: 10px;">
        <a asp-controller="Secretary" asp-action="CoursesList" class="btn btn-outline-success">Courses List</a>
        <a asp-controller="Secretary" asp-action="StudentsCoursesList" class="btn btn-outline-success">Students Courses List</a>
    </div>

</div>