@model IEnumerable<MVC.Models.CourseHasStudent>

@{
    ViewData["Title"] = "Βαθμολογίες ανά Εξάμηνο";
}
<h2>Βαθμολογίες ανά Εξάμηνο</h2>
<table class="table">
    <thead>
        <tr>
            <th>Εξάμηνο</th>
            <th>Τίτλος Μαθήματος</th>
            <th>Βαθμός</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Course.Semester</td>
                <td>@item.Course.Title</td>
                <td>@item.Grade</td>
            </tr>
        }
    </tbody>
</table>