@{
    ViewData["Title"] = "Professor Portal";
}

<div class="text-center">
    <h1 class="display-4">Professor Portal</h1>
    <p>Manage your courses and student grades</p>
</div>

<br>

<div class="row justify-content-center">
</div>
