@* @model IEnumerable<MVC.Controllers.SemesterStatViewModel> *@

<h2>Average Grade per Semester</h2>
<table class="table">
    <thead>
        <tr>
            <th>Semester</th>
            <th>Average Grade</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Semester</td>
                <td>@item.AverageGrade.ToString("0.00")</td>
            </tr>
        }
    </tbody>
</table>