@model double

<div>
    <div>
        Academic Performance
    </div>
    <div>
        <h5>Total Average Grade</h5>
        <p>
            For all passed exams (Grade >= 5), your total average is:
        </p>
        <h1>@Model.ToString("0.00")</h1>
    </div>
</div>