@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<p>
    In this application, users can log in as Secretaries, Professors, or Students to manage and view academic information.
</p>
<p>
    This MVC structured application has been made by:
    <ul>
        <li>Danai Charzaka - P22194</li>
        <li>Dimitris Katsanos - P22225</li>
        <li>Ioanna Andrianou - P22010</li>
    </ul>
</p>
